
<div class="models-forms">
<%= form_for(@budget) do |f| %>
 


  <div class="field">
    
    <%=f.label :name%><br/>
    <%=f.text_field :name%>

  </div>


  <div class="field">
    
    <%=f.label :trans_type
    %><br/>
    <%=f.select :trans_type,['withdraw','deposit']%>

  </div>

  <div class="field">

   <%=f.label :amount%><br/>
   <%=f.text_field :amount%>

  </div>

  <div class="field">

   <%=f.label :due_date%><br/>
   <%=f.select :due_date,(1..31).to_a%>

  </div>

  <div class="field">

   <%=f.label :late_fees%><br/>
   <%=f.text_field :late_fees%>

  </div>

  <div class="field">

   <%=f.label :category_ids, 'Categorys'%><br/>
   <%=f.collection_select :category_ids, Category.order(:name),:id,:name,{},{multiple:true}%>

  </div>


  <div class="field">

   <%=f.label :repeat%><br/>
   <%=f.check_box :repeat%>

  </div>





 

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>

</div>
