<div class ="row">
  <div class ="large-8 column"><div class="tracker">
<h2 class="subheading">Personal Budget</h2>

  </div>

</div>
   <div class="large-4 column">

       <h3></h3>
   </div>


</div>



<div class="row">

  <div class="large-12 column">



<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Debits</th>
      <th>Deposits</th>
       <th>BAL: <%=number_to_currency("#{@debt}")%> || Entrys:<%=@trans%></th>
     
     
    </tr>
  </thead>

  <tbody>
    <% @budgets.each do |budget| %>
      <tr class="hovers">
        <td><strong><%= link_to "#{budget.name}", budget %></strong></td>
        <td><em><%= budget.trans_type %></em></td>
        <td class="debit"><%= number_to_currency("-#{budget.amount}") %></td>
           <td class="credit"><%= number_to_currency(budget.debit) %></td>
              <td><%=image_tag(budget.img) %></td>
       
      </tr>
    <% end %>
  </tbody>
  <tfoot>
<tr>

<td class="debit" colspan="4">Current Debits: -<%= number_to_currency("#{@amount}")%></td>
<td class="credit" colspan="1">Current Credits: +<%= number_to_currency("#{@deposit}")%></td>

</tr>

  </tfoot>
</table>

<br>


<div id="myModal" class="reveal-modal">

 <h2 class="model-heading">Budget Entry</h2>



 <%= render 'form' %>

 <a class="close-reveal-modal">&#215;</a>
 </div>






<a href="#" data-reveal-id="myModal" class="my-button">Add Entry</a>



   </div>
</div>
