<h1>Listing transactions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Name</th>
     
      <th>Debit</th>
       <th>Deposit</th>
      <th>Status</th>
      <th>Transaction</th>
      <th><%=@go2%></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr class="<%=cycle( 'list_line_even', 'list_line_odd')%>">
        <td><%= time_ago_in_words(transaction.created_at) %></td>
        <td><%= transaction.name %></td>

         
      
      
         <% if !transaction.debit.nil? %>
        <td><em><%= number_to_currency(transaction.debit) %></em></td>
        <%else%>
          <td><%="-"%></td>
        <%end%>


         <%if transaction.credit.nil? %>
             <td><%="-"%></td>
             <%else%>

        <td><em><%= number_to_currency(transaction.credit) %></em></td>
       <%end%>

       
        <td><%= transaction.cleared ? "Transaction is cleared" : "Transaction is not cleared" %></td>
        <td><%= link_to 'Detailed View', transaction %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <tfoot>
      <tr>

        <td>Debit Totals:</td> <td></td><td><%=number_to_currency @debitSum%></td>


      </tr>

       <tr>

        <td>Deposit Totals:</td> <td></td><td></td><td><%=number_to_currency @creditSum%></td>
      </tr>


        <tr>

        <td>Balance:</td> <td></td><td></td><td><%=number_to_currency @bal%></td>
      </tr>

    </tfoot>
  </tbody>
</table>

<br>

<strong><%= link_to 'Add Deposit', credit_path,class: 'new_credit',remote: true %> | | <%= link_to 'Add Debit', debit_path,class: 'new_debit',remote: true %></strong>
