<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @transaction.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= number_to_currency(@transaction.amount) %>
</p>

<p>
  <strong>Type:</strong>
  <%= @transaction.trans_type %>
</p>

<p>
  <strong>Status:</strong>
  <%= @transaction.cleared ? "Transaction is cleared" : "Transaction is not cleared" %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
